* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #666;
}


.container {
    max-width: 1200px;
    margin: 5rem auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: white;
}


.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #666;
}

.card-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-link:hover {
    color: #0056b3;
}


@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
}
